*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

#main-container{
    border: solid 1px #ccc;
    width: 600px;
    margin: 100px auto;
}

#header{
    background-color: black;
    padding: 10px;
}

h2{
    padding: 0 10px;
}

.item{
    border-bottom: solid 1px #ccc;
    padding: 10px;
}

.item:not(.completed):hover{
    background-color:#eee;
}

.completed{
    color: #ccc;
    text-decoration: line-through;
}

.completed .item.body{
    text-decoration: line-through;
}

.item-body, .item-actions{
    display: inline-block;
    vertical-align: top;
}

.item-body{
    width: 85%;;
}

.item-actions{
    padding: 0 10px;
    width: 10%;
}

button{
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: #ccc;
    color: black;
}

button:hover{
    background-color: #da2020;
    color: white;
}