<template>
    <div class="item" v-bind:class="{completed: item.completed}">
        <div class="item-body" v-bind:class="{completed: item.completed}"> <!--Tutorial min 32:00-->
            <input type="checkbox" v-bind:checked="item.completed ? 'checked' : null" v-on:change="checkItem"> {{item.title}}
        </div>

        <div class="item-actions">
            <button>Eliminar</button>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'ListItem',
        props: ['item'],
        methods: {
            checkItem(){
            }
        }
    }
</script>