<template>
    <div>
        <div v-bind:key="item.id" v-for="item in itemList" > <!--Tutorial min 28:30-->
            <ListItem v-bind:item="item" />
        </div>
    </div>
</template>

<script>
    import ListItem from './ListItem.vue';

    export default{
        name: 'ListToDo',
        props: ['itemList'],
        components: {ListItem}
    }
</script>