<template>
  <div>
    <div id="header"></div>
    <div id="main-container">
      <h2>Lista de tareas</h2>
      <ListToDo v-bind:itemList="copyList" />
    </div>
  </div>
</template>

<script>
  import ListToDo from './components/List.vue';
  // import Search from './components/SearchItem.vue';
  // import TodoAdd from './components/TodoAdd.vue'

  export default {
    name: 'App',
    components: {
      ListToDo,
    },
    data(){
      return {
        list: [
          {
            id: 0,
            title: 'Comprar la cena',
            completed: false
          },
          {
            id: 1,
            title: 'Sacar a pasear al perro',
            completed: true
          },
          {
            id: 2,
            title: 'Limpiar el garaje',
            completed: false
          },
          {
            id: 3,
            title: 'Terminar tutorial',
            completed: true
          }
        ],
        copyTodos: []
      }
    },
    created(){ //Funcion created se ejecutan cuando se carga la página
      this.copyList = [...this.list];
    }
  }
</script>

<style>
  @import './assets/css/styles.css';
</style>
